<h4>Invoices</h4>

<% if invoices.empty? %>
  <p> No invoices. <p>
<% else %>
  <% invoices.each do |i| %>
    <p>
      <%= i.created_at.strftime('%d/%m/%y') %>
      <%= "#{i.guest.name}" %>
      $<%= i.total %>
      <% if i.paid %> 
        <%= form_with url: owner_set_invoice_as_paid_path(@owner) do |form| %>
          <%= form.hidden_field :invoice_id, :value => i.id %>
          <%= form.submit "Set paid" %>
        <% end %>
      <% else %>
        <strong>paid</strong>
      <% end %>  
    </p>
  <% end %>
<% end %>