<h4>Unbilled Stays</h4>

<% if unbilled_stays.empty? %>
  <p> No stays. <p>
<% else %>
  <% unbilled_stays.each do |guest_name, stays| %>
    <p><%= guest_name %></p>
      <% stays.each_with_index do |s,i| %>
        <p>- Checked in '<%= s.room.name %>' at 
           <%= s.check_in_time.strftime('%d/%m %H:%M')%>. 
          US$<%= s.total %>
        </p>
      <% end %>
  <% end %>
  <%= form_with url: owner_create_invoices_path(@owner) do |form| %>
    <%= form.submit "Create Invoices" %>
  <% end %>  
<% end %>