  <p>My stays<p>

<!--
  <table >
    <tr>
      <th> Room </th>
      <th> Price per minute </th>
      <th> Guest </th>
    </tr>
    <% rooms.each do |r| %>
      <tr>
        <th><%= r.name %></th>
        <th><%= r.price %></th>
        <th><%= r.guest && r.guest.name %></th>
      </tr>
    <% end %>
  </table>

  <p>Stays to charge<p>

  <table >
    <tr>
      <th> Room </th>
      <th> Guest </th>
      <th> Minutes </th>
      <th> Price per minute </th>
      <th> Total </th>
    </tr>
    <%# uncharged_stays.each do |s| %>
    <tr>
      <th><%= s.room.name %></th>
      <th><%= s.guest.name %></th>
      <th><%= s.time %></th>
      <th><%= s.room.price %></th>
      <th><%= s.total %></th>
    </tr>
    <% end %>
  </table>
  -->
