
  
<% if invoices.empty? %>
  <h3> There are no invoices </h3>
<% else %>
  <h3>Invoices</h3>

  <table >
    <tr>
      <th>Guest</th>
      <th>Total</th>
      <th>Paid</th>
    </tr>
    <% invoices.each do |i| %>
      <tr>
        <td><%= i.guest.name %></td>
        <td><%= i.total %></td>
        <td><%= i.paid ? "Yes" : "No" %></td>
        <td> 
          <% if !i.paid %> 
            <%= form_with url: user_set_invoice_as_paid_path(@owner) do |form| %>
              <%= form.hidden_field :invoice_id, :value => i.id %>
              <%= form.submit "Set as paid" %>
            <% end %>  
          <% end %>  
        </td>
      </tr>
    <% end %>
  </table>
<% end %>