  <p>My rooms<p>

  <table >
    <tr>
      <th> Room </th>
      <th> Price per minute </th>
      <th> Guest </th>
    </tr>
    <% rooms.each do |r| %>
      <tr>
        <td><%= r.name %></td>
        <td><%= r.price %></td>
        <td><%= r.guest && r.guest.name %></td>
      </tr>
    <% end %>
  </table>

  <p>Stays to charge<p>

  <table >
    <tr>
      <th> Guest </th>
      <th> Room </th>
      <th> Minutes </th>
      <th> Price per minute </th>
      <th> Total </th>
    </tr>
    <% unbilled_stays.each do |guest_name, stays| %>
    <tr>
      <th><%= guest_name %></th>
    </tr>
    <% stays.each do |s| %>
      <tr>
        <th><%= s.room.name %></th>
        <th><%= s.time %></th>
        <th><%= s.room.price %></th>
        <th><%= s.total %></th>
      </tr>
      <% end %>
    <% end %>
  </table>
  