<!DOCTYPE html>
<html>
  <head>
    <title>TestDev</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <%= link_to "Login", root_path%>
    <%= yield %>
  </body>
</html>
